site_url: https://guilherme11gr.github.io/american-cannabis-site/
search: true

backend:
  name: github
  repo: "Guilherme11gr/american-cannabis-site"
  branch: master
  app_id: Ov23lijkQpNxXSsv4Y0r
  auth_scope: repo
  base_url: https://decap-proxy2.guilherme11-gr.workers.dev
  debug: true

# pasta onde o CMS grava as imagens padrão
media_folder: "public/imgs"
public_folder: "/imgs"

collections:

  # ============================
  # CATEGORIES (sem alteração)
  # ============================
  - name: "categories"
    label: "Categorias"
    files:
      - file: "src/data/categories.json"
        label: "Lista de Categorias"
        name: "categories"
        fields:
          - label: "Categorias"
            name: "categories"
            widget: list
            summary: "{{name}}"
            collapsed: true
            fields:
              - { label: "ID",       name: "id",        widget: "number" }
              - { label: "Nome",     name: "name",      widget: "string" }
              - { label: "Slug",     name: "slug",      widget: "string" }
              - { label: "Carousel", name: "carousel",  widget: "boolean" }
              - label: "Subcategorias"
                name: "categories"
                widget: list
                summary: "{{name}}"
                collapsed: true
                fields:
                  - { label: "ID",   name: "id",   widget: "number" }
                  - { label: "Nome", name: "name", widget: "string" }
                  - { label: "Slug", name: "slug", widget: "string" }


  # ============================
  # PRODUTOS (folder collection)
  # ============================
  - name: "products"
    label: "Produtos"
    identifier_field: "slug"
    folder: "src/data/products"
    create: true
    slug: "{{slug}}"
    extension: "json"
    thumbnail: "images.0.image"
    media_folder: "/public/imgs/products"
    public_folder: "/imgs/products"
    search: true
    preview_path: "products/{{slug}}"

    view_filters:
      - label: "Nome"
        field: "name"
        pattern: ".*"
      - label: "Slug"
        field: "slug"
        pattern: ".*"
      - label: "Categoria"
        field: "categorySlugs"
        pattern: ".*"

    fields:
      - { label: "ID",        name: "id",          widget: "number", required: true }
      - { label: "Código",    name: "code",        widget: "string", required: true }
      - { label: "Nome",      name: "name",        widget: "string", required: true }
      - { label: "Slug",      name: "slug",        widget: "string", required: true }
      - { label: "Preço",     name: "price",       widget: "number", required: true }
      - { label: "Destaque?", name: "featured",    widget: "boolean" }
      - { label: "Descrição", name: "description", widget: "text" }

      - label: "Imagens"
        name: "images"
        widget: "list"
        summary: "{{image}}"
        fields:
          - { label: "Imagem", name: "image", widget: "image" }
